.App {
  text-align: center;
  color: red;
  display: flex;
}
.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  border: 1px red solid;
  height: 98vh;
  width: 200px;
  min-width: 20%;
  max-width: 300px;
}

.navButton {
  border: 1px red solid;
  margin: 10px;
  width: 200px;
}
.fullYear > #description {
  display: none;
}

.fullYear:hover > #description {
  display: block;
}
.emptyYear,
.edgeYear {
  margin: 0;
}
